[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = localhostdistinguishedname

[localhostdistinguishedname]
C=US
ST=WA
L=Seattle
O=Blah
OU=BlahCeo
emailAddress=rob.ostheimer@gmail.com
CN = localhost